.btn-primary {
    background-color: #132D8F;
}

h1 {
    color: #660066;
}

td a {
    color: #5871CC;
}

html, body, main, footer {
    font-family: 'Gotu', sans-serif;
}

.bg-custom {
    background-color: #ffe39b;
;
}

html,
body {
    height: 100%;
}



#page-content {
    flex: 1 0 auto;
    padding: 50px;
}

#sticky-footer {
    flex-shrink: 0;
}

#panel {
    display:flex;
    justify-content: center;
}

img {
    height: 100px;
    width: 200px;
}